header {
  background-color: rgb(255, 255, 255);
  width: 100%;
  display: flex;
  flex-direction: column;
}
#section1 {
  display: block;
  position: relative;
}
#section1 .grid {
  display: grid;
  grid-template-columns: 1fr 1fr; /* corrected from 1f to 1fr */
  grid-template-rows: repeat(3, 150px);
  gap: 3rem;
}
@media only screen and (max-width: 600px) {
  #section1 .grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 150px);
  }
}

#section1 .container {
  margin-top: 3rem;
}
#section2 {
  margin: 10rem 0;
  background-color: rgb(196, 206, 57);
  padding: 6rem 0;
}
#section2 .container {
  background-color: transparent;
  box-shadow: none;
}
