@media only screen and (min-width: 1000px) {
  .header-top__icon-box img {
    height: 60px;
  }
  .header-top__icon-box {
    gap: 2rem;
  }
  .menu-icon {
    display: none;
  }
  .menu-icon-bottom {
    display: inline-block;
  }
  #section2 .treanding-grid {
    grid-template-columns: repeat(4, 1fr);
    background-color: white;
  }
  .treanding-grid-contents {
    flex-direction: column;
    height: 30rem;
  }
  .treanding-grid-contents .image-box {
    width: 100%;
  }
}
